#animationCanvas{
    border: 8px solid;
    align-self: center;
}

#Score{
    font-family: "consolas", monospace;
    font-size: 41.5px;
    text-align: left;
}

#resetBtn{
    font-family: "consolas", monospace;
    font-size: 28px;
    width: 120px;
    height: 150px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(159, 150, 150);
}

#Etiquetas{
    font-family: "consolas", monospace;
    font-size: 28px;
}
